@use "../../config.scss/rem-calc.scss";
@use '../../config.scss/variables.scss';


:host {
	width: 100%;

	.listagem {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		padding: 20px 20px;

		.pokemon {
			position: relative;
			display: flex;
			background-color: white;

			width: 20% ;
			height: 77px ;

			margin-bottom: 10px;
			padding: 20px;

			border-radius:10px;

			text-decoration: none;
			color: var(--primary-color);

			&__status {
				h2 {
					font-size: 22px;
					font-style: italic;
					font-weight: 700;
					text-transform: capitalize;

					margin-bottom: 10px;
				}

				ul {
					display: flex;
					flex-direction: column;

					li {
						background: var(--cinza);
						font-size: 10px;

						display: flex;
						justify-content: center;
						align-items: center;

						border-radius: 50px;

						width: 60px;
						margin-bottom: 5px;
					}
				}
			}

			&__image {
				position: absolute;

				display: flex;
				align-items: center;
				justify-content: center;

				height:20px;
				width: 15px;

				right: 30px;
				bottom: 40px;



				img {
					width: 60px;
				}
			}
		}
  }
}
